@font-face {
  font-family: Sweet;
  src: url("../fonts/SweetSans.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;
  font-family: 'Sweet';
  letter-spacing: 1px;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}

section {
  margin: 6.4rem 0 3rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 999;
}

.navbar {
  height: 6.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__brand {
  font-size: 2rem;
  text-transform: uppercase;
}

.navbar .nav__link {
  font-size: 1.6rem;
}

.navbar .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav__links .nav__item {
  margin: 0 2.4rem;
}

.footer {
  padding: 2rem 0;
}

.footer__item--title {
  font-size: 2rem;
  font-weight: 300;
  margin: 2rem 0;
}

.footer__item--description {
  font-size: 1.4rem;
  margin: 1.4rem 0;
}

.footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-icons img {
  margin: 1rem 2rem 0 0;
}

.footer-copyright-text {
  margin: 6.4rem 0 0.5rem;
  text-align: center;
  font-size: 1.6rem;
}

.btn {
  background: #eeeeee;
  font-size: 1.6rem;
  vertical-align: middle;
  margin: 1rem;
  padding: 1rem 2.4rem;
  cursor: pointer;
}

.section__header {
  text-align: center;
}

.section__header--title {
  font-size: 2.4rem;
  font-weight: 300;
  margin: 2rem 0rem 3rem;
  text-transform: uppercase;
}

.section__header--title::before {
  content: '';
  position: absolute;
  -webkit-transform: translate(-125%, 400%);
          transform: translate(-125%, 400%);
  width: 6rem;
  height: 0.25rem;
  background-color: black;
}

.section__header--title::after {
  content: '';
  position: absolute;
  -webkit-transform: translate(20%, 400%);
          transform: translate(20%, 400%);
  width: 6rem;
  height: 0.25rem;
  background-color: black;
}

.section__header--description {
  width: 75%;
  margin: 2rem auto 6rem;
  font-size: 1.4rem;
}

.product-item {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.product-item--img {
  height: 30rem;
}

.product-item--name {
  font-size: 1.6rem;
  margin: 2rem 0 0.5rem;
}

.product-item--price {
  font-size: 1.8rem;
  font-weight: bold;
}

.product-table {
  width: 100%;
  padding: 3rem 0;
}

.product-table--head {
  padding: 2rem 1rem;
  background-color: #eeeeee;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
}

.product-table--head p {
  font-size: 1.6rem;
}

.product-table--body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.product-table--body p {
  margin: 0.5rem;
  font-size: 1.6rem;
}

.product-table--body .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-table--body img {
  width: 100px;
}

.hero__container {
  background: url("../images/cover-img-1.jpg") center fixed;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__text--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__text--title {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

.hero__text--sitemap {
  font-size: 1.6rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.shop-complete {
  margin: 5rem 0;
}

.shop-complete h2 {
  text-align: center;
  font-size: 2rem;
}
/*# sourceMappingURL=main.css.map */