.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &-img{
        width: 100vw;
        img{
        width: 100%;
        }
    }
}

