.shop-complete{

    margin: 5rem 0;
    h2{
        text-align: center;
        font-size: 2rem;
    }
}

.product-detail{
    .img-wrapper{
        img{
            max-height: 400px;
        }
    }
}