<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="./css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.theme.default.min.css">
    <link rel="stylesheet" href="./sass/main.css">
</head>
<body>
    <header class="header">
        <nav class="navbar container">
            <a href="./" class="navbar__brand">
                <h1>store</h1>
            </a>

            <div class="navbar__nav">
                <ul class="nav__links">
                    <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                    <li class="nav__item">
                        <div class="dropdown">
                            <a href="#" class="nav__link dropbtn">Shop</a>
                            <div class="dropdown-content">
                              <a class="nav__link" href="./wishlist.html">Wishlist</a>
                              <a class="nav__link" href="./shopcomplete.html">Checkout</a>
                            </div>
                          </div>
                        
                        </li>
                    <li class="nav__item"><a href="#" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>

        <section class="hero">
            <div class="hero__container">
                <div class="hero__text-wrapper">
                <h2 class="hero__text--title">Wishlist</h2>
                <p class="hero__text--sitemap"><span>Home ></span>&nbsp;Wishlist</p>
            </div>
            </div>
            
        </section>
        <section>

        
        <div class="container">
            <div class="product-table">
                <div class="product-table--head">
                    <p>Product</p>
                    <p>Price</p>
                    <p>Quantity</p>
                    <p>Total</p>
                </div>
                <div class="product-table--body">
                    <div class="product">
                        <img src="./images/item-4.jpg" alt="product">
                        <p>Product name</p>
                    </div>

                    <p>$60</p>
                    <p>2</p>
                    <p>$120</p>
                </div>
                <div class="product-table--body">
                    <div class="product">
                        <img src="./images/item-6.jpg" alt="product">
                        <p>Product name</p>
                    </div>

                    <p>$60</p>
                    <p>2</p>
                    <p>$120</p>
                </div>
                <div class="product-table--body">
                    <div class="product">
                        <img src="./images/item-7.jpg" alt="product">
                        <p>Product name</p>
                    </div>

                    <p>$60</p>
                    <p>2</p>
                    <p>$120</p>
                </div>
            </div>
        </div>
        </section>

    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-2 footer__item">
                    <h4 class="footer__item--title">About Store</h4>
                    <p class="footer__item--description">Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                    <div class="footer__social-icons">
                        <img src="./images/facebook.svg" alt="facebook"/>
                        <img src="./images/instagram.svg" alt="instagram"/>
                        <img src="./images/whatsapp.svg" alt="whatsapp"/>
                    </div>
                </div>
                <div class="col-md-3 col-sm-2 footer__item">
                    <h4 class="footer__item--title">Information</h4>
                    <ul>
                        <li class="footer__item--description" ><a href="#">About us</a></li>
                        <li><a class="footer__item--description" href="#">
                            Privacy Policy</a></li>
                        <li class="footer__item--description" ><a href="#">Support</a></li>
                        <li class="footer__item--description"><a href="#">Order Tracking</a></li>
                        <li class="footer__item--description"><a  href="#">Special</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-2 footer__item">
                    <h4 class="footer__item--title">News</h4>
                    <ul>
                        <li class="footer__item--description"><a href="#">Blog</a></li>
                        <li  class="footer__item--description"><a href="#">
                            Exhibitions</a></li>
                        <li class="footer__item--description"><a href="#">Site maps</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-2 footer__item">
                    <h4 class="footer__item--title"> Contact</h4>
                    <ul>
                        <li class="footer__item--description">291 South 21th Street,
                        Suite 721 New York NY 10016</li>
                        <li class="footer__item--description">+ 1235 2355 98</li>
                        <li class="footer__item--description">info@yoursite.com</li>
                    </ul>
                </div>
            </div>

            <p class="footer-copyright-text">
                Copyright ©2019 All rights reserved 
            </p>
        </div>
    </footer>
</body>
</html>